.authors_menu {
  .authors_menu_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    cursor: pointer;

    h2 {
      font-family: "commer";
      text-transform: uppercase;
      font-weight: normal;
      color: var(--header-clr);
    }
  }
}

.authors_options {
  width: 100%;
  position: relative;

  form {
    position: relative;
  }

  .menu_btn {
    width: 100%;
    border-radius: 4px;
    color: var(--primary-darkGrey);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--header-clr);

    span {
      color: white;
    }
  }

  .list_main {
    background-color: var(--secondary-clr);
    padding-block: 0.5rem;
    max-height: 270px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-top: 5px;

    li {
      list-style-type: none;
      padding: 1rem 0.5rem;
      transition: all 0.15s ease;
      cursor: pointer;
      color: var(--header-clr);

      &:hover {
        background-color: var(--primary-darkGrey);
      }
    }

    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--primary-lightgrey);
      border-radius: 1rem;
      padding-block: 0.5rem;
      height: 1px;
    }
  }
}

[data-theme="light"] {
  .list_main {
    li {
      &:hover {
        background-color: var(--primary-lightgrey);
      }
    }
  }
}
