.filter_main {
  position: fixed;
  top: 0;
  right: 0%;
  height: 100%;
  width: 400px;
  z-index: 1;
  background-color: var(--primary-black);

  .close_icon {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
  }
}

.filter_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  padding-inline: 1rem;

  .filter_options {
    padding-inline: 1.5rem;
  }

  .filter_options_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h2 {
      font-family: "commer";
      text-transform: uppercase;
      font-weight: normal;
    }

    button {
      background: none;
    }
  }
}

.handleButtons {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem;
  position: relative;
  background-color: none;

  button {
    background: none;
    width: 100%;
    color: white;
    text-decoration: underline;
    font-family: "inter";
    font-size: 1rem;

    .btn_showResults {
      float: left;
    }
  }
  .btn_clear {
    color: var(--primary-darkGrey);
  }
}

@media screen and (max-width: 768px) {
  .filter_main {
    width: 90%;
  }
}
