.filter_main {
  border: 1px solid white;
  position: fixed;
  top: 0;
  right: 17.8%;
  height: 100%;
  width: 400px;
  z-index: 1;
  background-color: var(--primary-black);

  .close_icon {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
  }
}

.filter_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  padding-inline: 1rem;

  .filter_options {
    padding-inline: 1.5rem;
  }

  .filter_options_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    h2 {
      font-family: 'commer';
      text-transform: uppercase;
      font-weight: normal;
    }

    button {
      background: none;
    }
  }
}

.options {
  select {
    width: 100%;
    padding: 0.5rem;
    background: var(--secondary-black);
    border: none;
    color: white;
    border-radius: 4px;
  }
  select * {
    background-color: red;
    padding: 2rem;
  }
}
