.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  margin-bottom: 1rem;

  button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-clr);
    border-radius: 2rem;
  }
}
