main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  position: relative;
}

.filter {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;

  form {
    position: relative;
  }

  input {
    background: var(--secondary-clr);
    border: none;
    width: 336px;
    height: 36px;
    border-radius: 4px;
    padding-inline: 3rem;
    position: relative;
    color: var(--primary-lightgrey);
  }

  .icon_find {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-10%, -50%);
  }

  .openFilterBtn {
    background: var(--secondary-clr);
    width: 36px;
    height: 36px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background: #cacaca50;
    }
  }
}

[data-theme="light"] {
  input {
    border: 1px solid var(--primary-lightgrey);
    color: var(--primary-darkGrey);
  }
}

.painting_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;

  .no_matches {
    p {
      color: var(--header-clr);
    }
  }
}

.painting_item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.25s ease all;

  &:hover {
    img {
      transform: scale(1.05);
    }

    .painting_item_secondary_info {
      left: 10%;
      opacity: 1;
    }

    .painting_item_first_info {
      top: 100%;
      opacity: 0;
    }
  }

  img {
    width: 100%;
    transition: 0.25s ease-out all;
    z-index: 0;
  }

  .painting_item_info {
    background-color: var(--primary-clr);
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 82px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;

    &::before {
      content: "";
      width: 4px;
      height: 42px;
      background-color: var(--accent-clr);
      position: absolute;
      left: 0;
      top: 24px;
    }
  }
}

.painting_item_first_info {
  transition: 0.4s ease all;
  position: absolute;
  top: 25%;
  opacity: 1;

  .painting_item_header {
    font-family: var(--font-headers);
    font-size: 16px;
    text-transform: uppercase;
    color: var(--header-clr);
  }

  .painting_item_year {
    font-family: var(--font-years);
    color: var(--accent-clr);
    font-weight: bold;
  }
}

.painting_item_secondary_info {
  transition: 0.4s ease all;
  position: absolute;
  left: -200%;
  opacity: 0;

  .painting_item_author {
    font-family: "commer";
    text-transform: uppercase;
    color: var(--header-clr);
  }
  .painting_item_location {
    text-transform: uppercase;
    color: var(--accent-clr);
    font-weight: bold;
  }
}

@media screen and (max-width: 1023px) {
  .painting_gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .painting_item {
    .painting_item_info {
      &::before {
        display: none;
      }

      &::after {
        content: url("../../../public/icons/arrow_icon_right.png");
        width: 24px;
        height: 100%;
        background-color: var(--accent-clr);
        position: absolute;
        right: 0%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .painting_gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter {
    input {
      width: 100%;
    }
  }
}
