main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.filter {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;

  form {
    position: relative;
  }

  input {
    background: var(--secondary-black);
    border: none;
    width: 336px;
    height: 36px;
    border-radius: 4px;
    padding-inline: 3rem;
    position: relative;
    color: white;

    &:focus {
      border: var(--primary-lightgrey);
    }
  }

  .icon_find {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-10%, -50%);
  }

  button {
    background: var(--secondary-black);
    width: 36px;
    height: 36px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.painting_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.painting_item {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }

  .painting_item_info {
    background-color: var(--primary-black);
    position: absolute;
    bottom: 0%;
    width: 80%;
    height: 82px;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    &::before {
      content: '';
      width: 4px;
      height: 42px;
      background-color: var(--clr-gold);
      position: absolute;
      left: 0;
      top: 24px;
    }

    .painting_item_header {
      font-family: var(--font-headers);
      font-size: 16px;
      text-transform: uppercase;
    }

    .painting_item_year {
      font-family: var(--font-years);
      color: var(--clr-gold);
      font-weight: bold;
    }
  }
}
